@font-face {
    font-family: reg;
    src:local("./font/Gilroy-Black.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: #fff;
    position: relative;
    font-family: reg;
}

.sidebar{
    /* background-color: aqua; */
    width: 15%;
    height: 100vh;
    position: relative;
    display :flex;
padding: 2px;
justify-content: center;
align-items: baseline;
}
.logo{
    /* background-color: #000; */
    margin-left: 65px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
 }   
.sidenavbar{
    margin: auto;
    width: 100%;
    padding: 45px;
    /* background-color: blue; */
    height: 1180px;
    /* margin: 20px; */
    border-top:solid #000;
    border-bottom: solid #000;
    font-size: 16px;
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 35px;
}
.sidenavbar .list .list-item{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin-left: 5px;
}
.bottom-nav{
    display: flex;
    /* flex-direction: column; */
    justify-content:center;
    align-items: center;
    /* position: relative; */
    /* top:240px */
}
.bottom-nav .list-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-item{
    display: block;
width: 200px;
    list-style: none;
    margin-bottom: 20px;
}
.list-img{
    margin-right: 15px;
}
.main{
    /* background-color: red; */
    background-color:#F3F3F3;
    width:80% ;
    height: auto;
    position: absolute;
    top: 0px;
    left: 305px;
}

.dash{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.topnav{
    background-color: #121e48;
    height: 95px;
    width: 100%;
    color: #fff;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnav-left h4 span{
color: aquamarine;

}
.top-right{
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.searchbar{
    display: flex;
    align-items: center;
    border: solid #87898adc;
    width: auto;
    border-radius: 50px;
    background-color: #87898adc;
    justify-content: center;
}
.search-logo{
height: 24px;
margin-left: 5px;
border-radius: 50px;
align-items: center;
border-right: solid transparent;
}

.search-text{
    margin-left: 2px;
    color: #000;
    border: none transparent;
    border-radius: 50px;
    /* border-right: none; */
    padding: 5px;
    width: 100%;
    background-color: transparent
}
.search-text:focus{
    color: darkgrey;
    background-color: #87898adc
}

.top-right-img{
height: 28px;
margin-left: 5px;
}

.heading-dash{
    /* background-color: blue; */
    height: auto;
    width: auto;

}
.heading-dash h3{
    position: relative;
    top: -35px;
    color: #fff;
    margin-top: 16px;

    padding: 0px 10px ;
}
.box{ 
    margin: 5px 15px 20px 25px;
    padding: 20px;
    height: 130px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 2px 2px #888888;
    background-color: #EBEBEB;
}

.box-content .icon{
    display: flex;
    justify-content: end;
    position: relative;
    height: 24px;
    width: 100%;
    top:-1px
}

.icon-logo{
    width: 50px;
    height: 50px;
}
.mainboxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.project-box{
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    height: auto;
    width: 90%;
    box-shadow: 10px 10px 15px #888888;

}
.project-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.project-tb{
 /* margin: auto; */
padding-left: 25px; 
    height: 500px;
    width: 99%;
}

.tab-row td{
    padding: 10px;
    text-align:start;
}

.p-btn{
    padding: 10px;
    color: #fff;
    background-color: #1CD2AD;

    border-radius: 10px;
    font-weight: 600;
}
.td-bottom-border{
    border-bottom: 2px solid black;
}


.sent{
    top: 15px;
    width: 60%;
    height: auto;
    justify-content: center;
    align-items: start;
    display: block;
    position: relative;
    text-align: center;
    color:#18C3D9;
    border-radius: 10px;
    font-weight: bolder;
    font-family: 16px;
    background-color: #E5F7FB;
}

.draft{
    top: 15px;
    width: 60%;
    height: auto;
    justify-content: center;
    align-items: start;
    display: block;
    position: relative;
    text-align: center;
    background-color: #AAAAAA33;
    color: rgb(67, 50, 50);
    border-radius: 10px;
    font-weight: bolder;
    font-family: 16px;
}

.paid{
    /* left: 10px/; */
    top: 15px;
    width: 60%;
    height: auto;
    justify-content: center;
    align-items: start;
    display: block;
    position: relative;
    text-align: center;
    background-color:  #1CD2AD33;
    color:#1CD2AD;
    border-radius: 10px;
    font-weight: medium;
    font-family: 16px;
}

.reject{
    /* left: 10px; */
    top: 15px;
    width: 60%;
    height: auto;
    justify-content: center;
    align-items: start;
    display: block;
    position: relative;
    text-align: center;
    background-color: #FEDBDB;
    color: #EC4A4A;
    border-radius: 10px;
    font-weight: medium;
    font-family: 16px;
}
.span-text{
    font-weight: 900;
    padding: 5px;
    text-align: center;
    
}


.event-box{
    background-color: #fff;
    border-radius: 16px;
    padding: 10px;
    margin: 10px;
    height: 300px;
    overflow: scroll;
    overflow-y: hidden;
flex-wrap: wrap;
    width: 50%;
    box-shadow: 10px 10px 15px #888888;
    overflow-y: scroll; /* Hide vertical scrollbar */
  overflow-x: hidden;

}

.event-items{
    /* background-color: #1CD2AD; */
    display: flex;
    margin-top: 10px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

.event-img{
    width: 20%;
}

.eventcontent{
    width: 80%;
}
.eventcontent h5{
    color: #1E88E5;
}

.wish{
    width: 20%;
}

.wishbtn{
    background-color: #1E88E5;
    color: #fff;
    width: 100px;
    padding: 2px;
    height: 40px;
    margin-right: 5px;
    font-weight: 600;
    border-radius: 10px;
}
.eventcontent-span{
    color: gray;
    font-weight: 400;
}
/* Handle  scrollbar*/

  
  /* Handle on hover */
 .event-box::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 8px;
    overflow: hidden;
    transition: background-color 0.3s;
  }

.event-box::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 8px;
    overflow: hidden;
    transition: background-color 0.3s;
  }

::-webkit-scrollbar {
    width: 5px;
  }